.fa-facebook{
    font-size: 50px;
    color: #1877f2;
}

.fa-instagram{
    font-size: 50px;
    color: #da1884;
}

.fa-whatsapp{
    font-size: 50px;
    color: #0abf53;
}

.fa-tiktok{
    font-size: 50px;
    color: black;
}

.fa-linkedin{
    font-size: 50px;
    color: #0a66c2;
}

.fa-google-drive{
    font-size: 50px;
    color: #fd5c63;
}

.fa-github{
    font-size: 50px;
    color: #6e5494;
}