body{
    background-color: white;
}


header{
    width: 1920px;
    height: 151px;
    background-color:white;
    background-image: url(/img/123.png), url(/img/pízzaencabezado.webp), url(/img/pízzaencabezado.webp);  
    background-position: center, 20%, 80%;
    background-repeat: no-repeat;
    background-size: contain;
}

nav{
    width: 1920px;
    height: 47px;
    background-color: #434343;
    border-bottom: 1px solid white;

}

main{
    width: 1920px;
    height: 735px;
    background-color: #E5E5E5;
  
}


.anuncio1 {
    width: 590px;
    height: 590px;
    background-color: red;
    position: absolute;
    top: 250px; 
    left: 1000px;
    background-image: url(/img/post2.webp);
}

.anuncio2 {
    width: 590px;
    height: 590px;
    background-color: #1BDAF1;
    position: absolute;
    top: 250px; 
    left: 300px;
    background-image: url(/img/post_2_590x.png);
  
}


footer{
    width: 1920px;
    height: 400px;
    background-color: black;
    color: white;
    padding-top: 100px;
    text-align: center;   
    
}

footer h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

footer p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    /* para que sirva la viñeta */
    display: flex;
    justify-content: center;
    list-style: none;
    /* asignamos un margen 0 */
    margin: 0;
    /* asignamos un espaciado de 0 */
    padding: 0;
    /* asignamos el ancho del menu */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: oblique;
    /* asignamos un color de fondo */
    overflow: hidden;
    background-color: black;
    /* asignamos un borde */
    border: 1px solid #434343;
}

li a{
    /* que se vea en bloques */
    display: block;
    /* asignamos un color de letra */
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    
}

li{
    /* centramos el texto */
    float: left;
    
    text-align: center ;
    
}
    

/* quitamos el borde al ultimo li */
li:last-child{
    border-bottom: none;
}

/* le asignamos valores cuando este activado */
li a.active {
    background-color: red;
    color: #666666;
}

/* le asignamos un color de fondo y letra cuando seleccionamos */
li a:hover{
    background-color: white;
    color: black;
}

.banner1{
    width: 100%;
    height: 100%;
    margin: auto; 
  
}